{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}

    {% for message in get_flashed_messages() %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

    <form action="/change" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto text-white bg-dark" id="username" name="username" placeholder="Username" type="text" required>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto text-white bg-dark" id="password" name="password" placeholder="Password" type="password" required>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto text-white bg-dark" id="new_pw" name="new_pw" placeholder="New Password" type="password" required>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto text-white bg-dark" id="new_pw_conf" name="new_pw_conf" placeholder="Repeat New Password" type="password" required>
        </div>
        <button class="btn btn-primary bg-dark" type="submit">Change Password</button>
    </form>

{% endblock %}