{% extends "layout.html" %}

{% block title %}
    My Collection
{% endblock %}

{% block main %}
    <!-- CREATE TABLE OR DEFAULT VALUE -->
    {% if not game_collection %}
        <h2>Add some games...</h2>
    {% else %}
    <table class="table">
        <thead class="table-dark">
        <tr>
            <th scope="col">Games</th>
            <th scope="col">Progress</th>
        </tr>
        </thead>
        <tbody>
            {% for game in game_collection %}
                <tr>
                    <td><h6>{{ game["game_name"] }}</h6></td>
                    <td><h6>{{ game["progress"] }}</h6></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="group">

        <!-- UPDATE PROGRESS -->
        <form action="/collection" method="post">
            <div style="padding-top:5rem" class="mb-3">
                <input autocomplete="off" class="form-control mx-auto w-auto text-white bg-dark" id="progress" name="progress" placeholder="Update progress..." type="text" required>
                <select style="margin-top:1.8rem" id="progress_list" name="progress_list" class="form-select form-select-sm" aria-label=".form-select-sm example">
                    <option selected>Select game</option>
                    {% for game in game_collection %}
                        <option value="{{ game['game_name'] }}">{{ game['game_name'] }}</option>
                    {% endfor %}
                </select>
            </div>
            <button  class="btn btn-primary bg-dark" type="submit">Update</button>
        </form>

        <!-- DELETE GAME-->
        <form action="/collection" method="post">
            <div style="padding-top:5rem" class="mb-3">
                <select id="delete" name="delete" class="form-select form-select-sm" aria-label=".form-select-sm example">
                    <option selected>Select game</option>
                    {% for game in game_collection %}
                        <option value="{{ game['game_name'] }}">{{ game['game_name'] }}</option>
                    {% endfor %}
                </select>
            </div>
            <button  class="btn btn-primary bg-dark" type="submit">Delete</button>
        </form>
    </div>

    {% endif %}
{% endblock %}