{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

    {% for message in get_flashed_messages() %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

    <form action="/" method="post">
        <div class="mb-3" style="padding-top:6rem">
            <input autocomplete="off" autofocus class="form-control mx-auto w-50 text-center text-white bg-dark" id="search" name="search" placeholder="Enter game name..." type="text" required>
        </div>
        <button  class="btn lg btn-primary bg-dark" type="submit">Find my game</button>
    </form>

{% endblock %}