{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block body %}
    <div class="search-bg" style="background-image:url({{ game['background_image'] }})">
        <div class="gradient-bg">
            {% block main %}
                <main class="container-fluid py-5  text-center">
                    <div class="wrap">
                        <div class="container_1">

                            <!-- GAME NAME -->
                            <h2 style="padding-bottom:1rem">{{ game["name"] }}</h2>
                            {% if game["name"] not in game_collection %}
                                <form action="/collection" method="post">
                                    <input type="hidden" value="{{ game['name'] }}" id="game_name" name="game_name">
                                    <button type="submit" style="margin-bottom:5rem" type="button" class="btn btn-outline-light">Add to My Collection</button>
                                </form>
                            {% else %}
                                <button disabled type="submit" style="margin-bottom:5rem" type="button" class="btn btn-outline-light">Already in My Collection</button>
                            {% endif %}

                            <!-- RELEASE DATE-->
                            {% if game["released"] is not none %}
                                <h5>Release date: {{ game["released"] }}</h5>
                            {% else %}
                                <h5>Relase date: TBA</h5>
                            {% endif %}

                            <!-- PLAYTIME -->
                            {% if game["playtime"] is not none %}
                                <h5>Average playtime: {{ game["playtime"] }} hours</h5>
                            {% else %}
                                <h5>Average playtime: Unknown</h5>
                            {% endif %}

                            <!-- METACRITIC -->
                            {% if game["metacritic"] is not none %}
                                <h5>Metacritic: {{ game["metacritic"] }} points</h5>
                            {% else %}
                                <h5>Metacritic: Unrated</h5>
                            {% endif %}

                        </div>

                            <!-- SCREENSHOTS-->
                            {% if screen_s["image"] is not none %}
                                <div style="width:75%;box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;" id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img src="{{ game['background_image'] }}" class="d-block w-100" alt="">
                                        </div>
                                        {% for screen in screen_s %}
                                        <div class="carousel-item">
                                            <img src="{{ screen['image'] }}" class="d-block w-100" alt="game_screenshot">
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                            {% else %}
                                <h5></h5>
                            {% endif %}
                    </div>

                    <!-- GAME DESCRIPTION -->
                    {% if not game["description"] %}
                        <p>No description available.</p>
                    {% else %}
                        <div style="padding:5rem 0 4rem 0; width:70%; margin:auto; font-size:1.2rem">
                            <p>{{ game["description"] | striptags }}</p>
                        </div>
                    {% endif %}

                    <div class="box">
                    <div class="container_1" style="text-align:left">

                        <!-- GAME GENRES -->
                        {% if not game["genres"] %}
                            <h5></h5>
                        {% else %}
                            <h5 style="width: 50%; margin:auto">Genre:
                            {% for genre in game["genres"] %}
                                {{ genre["name"] }}{{ "," if not loop.last }}
                            {% endfor %}
                            </h5>
                        {% endif %}

                    </div>

                    <div class="container_2" style="text-align:left">

                         <!-- PLATFORMS -->
                        {% if not game["parent_platforms"] %}
                        <h5>Platforms: - </h5>
                        {% else %}
                            <h5>Platforms:
                            {% for platform in game["parent_platforms"] %}
                                {{ platform["platform"]["name"] }}{{ "," if not loop.last }}
                            {% endfor %}
                            </h5>
                        {% endif %}

                        <!-- WHERE TO BUY  -->
                        {% if not game["stores"] %}
                            <h5>Where to buy: - </h5>
                        {% else %}
                            <h5>Where to buy:
                            {% for store in game["stores"] %}
                                <a href="https://{{ store['store']['domain'] }}">{{ store["store"]["name"] }}{{ "," if not loop.last }}</a>
                            {% endfor %}
                            </h5>
                        {% endif %}

                    </div>
                    </div>

                    <!-- PUBLISHERS -->
                    {% if not game["publishers"] %}
                        <h5 style="padding-top:3rem">Publishers: - </h5>
                    {% else %}
                        <h5 style="padding-top:3rem">Publishers:
                        {% for publisher in game["publishers"] %}
                            {{ publisher["name"] }}{{ "," if not loop.last }}
                        {% endfor %}
                        </h5>
                    {% endif %}

                    <!-- DEVELOPERS -->
                    {% if not game["developers"] %}
                        <h5>Platforms: - </h5>
                    {% else %}
                        <h5>Developers:
                        {% for developer in game["developers"] %}
                            {{ developer["name"] }}{{ "," if not loop.last }}
                        {% endfor %}
                        </h5>
                    {% endif %}

                    <h5 style="text-align:center">Website:  <a href="{{ game['website'] }}">{{ game["name"] }}</a></h5>

                </main>
                <footer class="mb-5 text-center">
                    Data provided by <a href="https://rawg.io/">RAWG</a>
                    <p>Made by @<a href="https://github.com/PuricelIonut">Puricel Ionut</a></p>
                </footer>
            {% endblock %}
        </div>
    </div>
{% endblock %}

